body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color:bisque;
    height: 60px;
    
    
  }
  .flex-container > div{
    color: black;
    width: auto;	
    margin: 20px;
    border: black;
    border-bottom: solid;
  }
  
  .grid-container{
    width: 1200px;
    margin:  auto;
  }

  .grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2cm;
  }
  .grid-item img
  {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      width: 250px;
      height: 250px;
  }
  .grid-text{
    text-align: center;
    
  }